{% extends "base.html" %}

{% block title %}All Todos{% endblock %}

{% block content %}
<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        {# Form to add a new todo #}
        <form
            hx-post="/todos"
            hx-target="#todo-list"
            hx-swap="innerHTML"
            hx-on="htmx:afterRequest: this.reset()"
            class="flex gap-4 mb-4"
        >
            <input
                type="text"
                name="content"
                placeholder="What needs to be done?"
                class="input input-bordered w-full"
                required
            >
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        {# The list of todos will be rendered here #}
        <div id="todo-list">
            {% include "partials/todos.html" %}
        </div>
    </div>
</div>
{% endblock %}
